MOPH_C19_API=https://cloud4.hosxp.net
MOPH_C19_AUTH=https://cvp1.moph.go.th
MOPH_C19_AUTH_SECRET="$jwt@moph#"
MOPH_USER=your-username
MOPH_PASSWD=your-password
MOPH_HCODE=your-hcode
REDIS_PASSWORD=require_if_use_password
USE_API_KEY=true_or_false_default_is_true